NODE_ENV=development
API_PORT=4000
WEB_PORT=3000
DATABASE_URL="sqlserver://localhost:1433;database=RikiLms;user=sa;password=YourStrong(!)Password;encrypt=true;trustServerCertificate=true"
JWT_ACCESS_SECRET="replace-with-a-long-random-secret"
JWT_REFRESH_SECRET="replace-with-another-long-random-secret"
WEB_ORIGIN="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:4000/api/v1"
